{% extends "base.html" %}

{%block content%}
<div class="row">
    <div class="col-12">
        <!--  register button -->
        <div class="d-flex justify-content-between">
           <!--  search form -->
             <form method="GET">
                <div class="input-group">
                    <select name="searchType" class="form-select w-auto">
                        <option value="all" {% if searchType == 'all' %} selected {% endif %}>All</option>
                        <option value="title" {% if searchType == 'title' %} selected {% endif %}>Title</option>
                        <option value="content" {% if searchType == 'content' %} selected {% endif %}>Content</option>
                        <!-- <option value="username" {% if searchType == 'username' %} selected {% endif %}>Username</option> -->
                        <option value="first_name" {% if searchType == 'first_name' %} selected {% endif %}>Username</option>
                    </select>
                    <input type="text" name="searchKeyword" class="form-control w-auto" value="{{ searchKeyword|default_if_none:'' }}">
                    <button type="submit" class="btn btn-primary">Search</button>
                    {% if searchType != null %}
                        <a href="{%url 'posts:list' %}" class="btn btn-danger">reset</a>
                    {% endif %}

                </div>
             </form>
             <!-- register button  -->
            <a href="{% url 'posts:create' %}" class="btn btn-primary">Create Post</a>
        </div>
        <!-- search, register button -->
    </div>

</div>
<!-- {% endblock} -->

<div class="row">
    <div class="col-12">
        <!-- list -->
        <div class="table-responsive">
            <table class="table table-bordered mt-3">
                <thead>
                    <tr class="" text-center">
                        <th>No</th>
                        <th>Title</th>
                        <th>Username</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td><a href="{% url 'posts:read' post_id=post.id %}">{{ post.title }}</a></td>
                        <!-- <td class="text-center">{{ post.user.username }}</td> -->
                        <td class="text-center">{{ post.created_by.first_name }}</td>
                        <td class="text-center">{{ post.created_at | date:"Y-m-d H:i" }}</td>
                        <td class="text-center">{{ post.updated_at | date:"Y-m-d H:i" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- list -->
    </div>
</div>

<div class="row">
    <div class="col-12">
        <!-- pagination -->
        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <!-- prev -->
                    {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.previous_page_number }}"> Previous</a>
                    </li>
                    {% endif %}
                    <!-- prev -->
                    <!-- page list -->
                    {% for page_number in posts.paginator.page_range %}
                        {% if page_number >= posts.number|add:'-5' and page_number <= posts.number|add:'5' %}
                        <li class="page-item {% if page_number == posts.number %} active {% endif %}">
                            <a class="page-link" href="{% url 'posts:list' %}?page={{ page_number }}">
                                {{ page_number }}
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                        <!-- page list -->
                        <!-- next -->
                    {% if posts.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                        <!-- next -->
                </ul>
            </nav>
        </div>
        <!-- pagination -->

    </div>
</div>

{% endblock %}